html, body
{
    height: 100%;
    width: 100%;
    margin: 0px;
    border: 0px;
}
div#holder
{
    position: relative;
    left: 0px;
    top: 0px;
    margin: auto auto;
    border: 0px;
}
img
{
    margin: auto auto;
    border: 0px;
    max-width : 100%;
    max-height : 100%;
}
img.hidden-image
{
    display : none;
}
img.visible-image
{
    display : block;
}
#circle
{
    background: #f00;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: block;
    position: absolute;
}
#circle.invisible
{
    display: none;
}